/* Default styles for larger screens */



/* Styles for mobile screens */
@media (max-width: 768px) {
  .bandeira-details {
    display: none;
  }

  .bandeira-total {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

/* Fixed width for table cells */
.fixed-width {
  width: 100px; /* Adjust this value as needed */
} 


.fixed-width-table {
 
  border:none;
  padding:0;
   
} 