/* Default styles for larger screens */
.bandeira-details {
  display: flex;
}

.bandeira-total {
  display: block;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .bandeira-details {
    display: none;
  }

  .bandeira-total {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

/* Fixed width for table cells */
.fixed-width {
  width: 120px; /* Adjust this value as needed */
} 